<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      .done_syle{
        text-decoration: line-through;
        color: #cccccc;
      }
    </style>
</head>
<body>
<div id="app">
  <!-- 再来一个功能：目前的状态在刷新后就没有了，怎么保持？ -->
  <!-- 知识点：watch属性，监听；localStorage -->

  <!-- 暂未完成，先刷完JS复习 -->
  <input type="text" v-model="todoItem" @keydown.enter="addTodo">
  <ul v-if="todoList.length > 0">
    <li v-for="item of todoList">
      <input type="checkbox" v-model="item.done">
      <span :class="{done_syle:item.done}">{{item.title}}</span>
    </li>
  </ul>
  <p v-else>暂无数据</p>
  <div>
    <span>剩余任务/总任务：</span>
    {{active}}/{{all}}
  </div>
  <div>
    全选<input type="checkbox" v-model="allDone">
  </div>
  <div>
    <button @click="deleteTodo">清除</button>
  </div>
</div>
<script src="https://unpkg.com/vue@3"></script>
<script>
  const { createApp } = Vue
  createApp({
    data() {
      return {
        todoItem: '',
        todoList: [
          {title:'任务一', done:true},
          {title:'任务二', done:false},
          {title:'任务三', done:false}
        ]
      }
    },
    methods: {
      addTodo(){
        if(this.todoItem === ''){
          alert('请输入内容再回车添加')
        }else{
          this.todoList.push(
            {
              title:this.todoItem,
              done:false
            }
          );
          this.todoItem = '';
        }
      },
      deleteTodo(){
        this.todoList = this.todoList.filter(v=>!v.done);
      }
    },
    computed:{
      active(){
        return this.todoList.filter(v=>!v.done).length
      },
      all(){
        return this.todoList.length
      },
      allDone: {
        get: function () {
          return this.active === 0
        },
        set: function (val) {
          this.todoList.forEach(todo=>{
            todo.done = val
          });
        }
      }
    }
  }).mount('#app')
</script>
</body>
</html>